@page "/encodingtable"
@inject HttpClient Http

<PageTitle>Encoding Table</PageTitle>
<h1>Encoding Table</h1>

@if (encodingTables == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th width="5%">Idballot</th>
            <th width="5%">Vote</th>>
            <th width="30%">Error</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var data in encodingTables)
        {
            <tr>
                <td>@data.Guid</td>
                <td>@data.DecodedVote</td>
                <td>@data.Error</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private Model.EncodingTable[]? encodingTables;

    protected override async Task OnInitializedAsync()
    {
        encodingTables = await Http.GetFromJsonAsync<Model.EncodingTable[]>(Http.BaseAddress + "/table/encoding");
    }

}