@page "/"
@using PAEG.Model
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (_voteResults == null || _voteResults.Length == 0)
{
    <form class="w-25">
        <br/>
        <button class="btn btn-primary" type="submit" @onclick="CloseVoting">Close Voting</button>
    </form>
}
else
{
    <table class="table w-50">
        <thead>
        <tr>
            <th width="50%">Idballot</th>
            <th width="50%">Vote</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var data in _voteResults)
        {
            <tr>
                <td>@data.IdBallot</td>
                <td>@data.Candidate</td>
            </tr>
        }
        </tbody>
    </table>
}

@code
{
    private VoteResult[]? _voteResults;

    protected override async Task OnInitializedAsync()
    {
        _voteResults =  await Http.GetFromJsonAsync<VoteResult[]>(Http.BaseAddress + "/voting/results");
    }

    private async void CloseVoting()
    {
        await Http.PostAsJsonAsync(Http.BaseAddress +"/voting/close", 1);
    }
}
