@page "/userdata"
@using PAEG.Model
@inject HttpClient Http

<PageTitle>User data</PageTitle>
<h1>User Data</h1>

@if (userPrivateData == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th width="25%">Email</th>
            <th width="25%">Identification</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var data in userPrivateData)
        {
            <tr>
                <td>@data.Email</td>
                <td>@data.Identitification</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private UserPrivateData[]? userPrivateData;

    protected override async Task OnInitializedAsync()
    {
        userPrivateData = await Http.GetFromJsonAsync<UserPrivateData[]>(Http.BaseAddress + "/user-data/get-all?private=true");
    }

}